.DS_Store
lib-cov
*.seed
*.log
*.csvgrunt lint

*.dat
*.out
*.pid
*.gz

pids
logs
results

npm-debug.log
node_modules/


dist/
pack/
build/
www/
.tmp/
docs/

bde/test-results
bde/test/vendor/*
!bde/test/vendor/mocha-config.js
!bde/test/vendor/test.html
!bde/vendor/bde-graph/build/

bde/vendor/**/demo
bde/vendor/**/test

bde/manifest_webapp_backup
bde/manifest_json_backup

.idea/

*.sublime-*
